body{
    margin: 0;
    padding: 0;
    background: rgb(255,248,205);
    background: linear-gradient(90deg, rgba(255,248,205,1) 50%, #FFE99A 50%, #FFE99A 50%);
}

/* images */

.student-group{
    position: absolute;
    z-index: -200px;
    top: 10%;
    left: 30%;
}

/* navbar */

.white-bg{
    background-color: white;
    width: 50%;
    height: 15%;
    position: absolute;
    z-index: -100px;
}

.logo{
    align-items: center;
}

.home_nav{
    margin: 0;  
    
}

.container-fluid{
    padding: 10px;    
}



.nav-link{
    font-size: large;
    width: 130px;
}

.nav-item{
    margin-right: 40px;
}

/* search bar */

.search{
    width: 500px;
    margin-left: 60px;
}

.search_btn{
    color: #ff8602;
    border: 3px solid #ff8602;
    border-radius: 5px;
    padding: 10px 20px 10px;
}
.search_btn:hover{
    background-color: #ff8602;
    border: 3px solid #ff8602;
    color: white;

}

input[type=search]:focus{
    box-shadow: 0 0 5pt 2pt #f7f1c8;
    border: 1px solid #f4cca2;
    outline-width: 0px;
}


.search_btn:focus{
    box-shadow: 0 0 5pt 2pt #f7f1c8;
    border: 1px solid #ff8602;
    outline-width: 5px;
}

/* table */


.table{
    position: absolute;
    z-index: 100px;
    padding: 20px 20px 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 12%;
    border: none;
    
    
}

table th, table td {
    padding: 20px;
    border: 1px solid #f6edcf;
    text-align: center;
}

table th {
    background-color: #ff8602;
}

table tbody tr:nth-child(even) {
    background-color: #f6edcf;
}

table tbody tr:nth-child(odd) {
    background-color: #fcf9ee;
}


table tbody tr.selected {
    background-color: #f6edcf;
}

/* edit & delete button */

.actions button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

.actions .edit {
    background: #4caf50;
    color: white;
}

.actions .delete {
    background: #f44336;
    color: white;
}

.actions button:hover {
    opacity: 0.8;
}
